<div class="titles">
    <h6>Files List</h6>
  </div>
  
  <div class="box" *ngFor="let file of files">
    <p>{{ file.name }}</p>
    <p>{{ file.type }}</p>
    <p>{{ file.path }}</p>
    <!--<button class="action-button view-button" (click)="displayFileContent(file.id)">View File</button>-->
    <button class="action-button view-button" (click)="displayFileContent(file.id)">View File</button>
    <button class="action-button delete-button" (click)="deleteFile(file.id)">Delete File</button>
    <button class="action-button download-button" (click)="downloadFile(file.id)">Download File</button>
  </div>
  
  <div>
    <!-- File input element -->
    <h3>Upload</h3>
    <input class="fileupload" type="file" (change)="uploadFile($event)" accept=".pdf,.doc,.docx,.txt,.jpg,.jpeg,.png">
  </div>
  