<!-- expense-income.component.html -->
<!-- expense.component.html -->


  
<h1 class="titles">Expense Management System</h1>

<div class="container">
  <div class="expenses">
    <div class="expense">
      <h2>Expense $20,000</h2>
      <button >Expense</button>
      <button (click)="addExpense()">Add Expense</button>
    </div>
  </div>

  <!--
  <div class="incomes">
    <div class="income">
      <h2>Income $75,000</h2>
      <button>Income</button>
      <button>Add Income</button>
    </div>
  </div>-->
<!-- expense-bar-graph.component.html -->

  <!--this is new comment-->
</div>
<div class="expense-container" *ngIf="total6MonthsExpense | async as totalExpense">
    <p class="heading">Total 6-Month Expense:</p>
    <table class="expense-table">
      <thead>
        <tr>
          <th>Month</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let expense of totalExpense">
          <td>{{ expense[0] }}</td>
          <td>{{ expense[1] }}</td>
        </tr>
      </tbody>
    </table>
  </div>

<div class="container">
  

  <div class="bills">
    <h2>Recent Bills</h2>
    <table>
      <thead>
        <tr>
          <th>Category</th>
          <th>Due Date</th>
          <th>Month-Year</th>
          <th>Amount</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let expense of expenses">
          <td>{{ expense.category }}</td>
          <td>{{ expense.dueDate }}</td>
          <td>{{ expense.currentMonth }}-{{ expense.currentYear }}</td>
          <td>{{ expense.amount }}</td>
          <td>{{ expense.status }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!--
  <div class="earnings">
    <h2>Recent Earning</h2>
    <table>
      <thead>
        <tr>
          <th>Category</th>
          <th>amount</th>
          <th>Month-Year</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>bills</td>
          <td>bills</td>
          <td>bills</td>
        </tr>
    </tbody>
    </table>
  </div>

-->
</div>
<div class="savings">
    <p class="savings-text">This month's savings: <span class="green-text">Save 50000$</span></p>
  </div>

  
  <!-- expense.component.html -->


  <!-- expenselist.component.html -->

  
  

  
  